# Reverse ignore: start with everything
/*

# Exclude what is useful for this repository:
!/config
!/doc
!/scripts
!/workflow
!.gitignore
!CITATION.cff
!LICENSE
!README.md
!mkdocs.yaml
!pyproject.toml
